*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url("css/img/Fundo-site.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}
header{
    width: 100%;
}